button {
    background: none;
    border: none;
    
}




.navBar{
    display: flex;
    flex: 1;
}

.navBarOptions{
    /* padding-top: 25px; */
    font-size: 14px;
    margin-top: 25px; 
    display: flex;
    flex: 1;
}

#homePage {
    padding-left: 50px;
}

.navBarOptionsL{
    
    padding-right: 75px;
}

.navBarOptionsR{
    /* padding-right: 25px; */
    padding-left: 75px;
}

.display{
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center; 
}