@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background: none;
    border: none;
    
}


/* .image1{
    
    width: 300px; height: 150px; object-fit: contain;  


} */

.navBar{
    display: flex;
    flex: 1;
}

.navBarOptions{
    /* padding-top: 25px; */
    font-size: 14px;
    margin-top: 25px; 
    display: flex;
    flex: 1;
}

#homePage {
    padding-left: 50px;
}

.navBarOptionsL{
    
    padding-right: 75px;
}

.navBarOptionsR{
    /* padding-right: 25px; */
    padding-left: 75px;
}

.display{
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: center; 
}

.displayText{
    display: flex;
    flex-direction: row;
}